


  /*Общие стили*/



body {
  min-width: 900px;
  font: 400 16px/1.375 Roboto, Arial, sans-serif;
  color: #333333;
  background-color: #849d8f;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.centerize {
  margin: 0 auto;
  width: 900px;
  padding: 0 20px;
  border: 1px solid #000;
  ;
}

img {
  margin: auto;
  max-width: 100%;
}

textarea {
  resize: vertical;
}

/*Кнопки*/

.btn {
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  padding: 10px 25px;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 1px 4px #8e392c;
  font-weight: 500;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn--middle {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
}

.btn--large {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

.btn--xxl {
  max-width: 250px;
  padding: 16px 43px;
  font-size: 31.5px;
  border-radius: 40px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.btn--narrow {
  padding-left: 23px;
  padding-right: 23px;
}

.btn--wide {
  padding-left: 34px;
  padding-right: 34px;
}

.btn:hover {
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0 2px 2px 0 #ac1000;
}

/*Ссылки*/

.btn:active {
  background-image: linear-gradient(to top, #e1613e, #d74632);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  transition: all 0.15s ease-out;
}

.link:hover {
  color: #ec593c;
  border-bottom-color: rgba(236, 89, 60, 0.3);
}

.link:active {
  color: #ec593c;
  border-bottom-color: rgba(236, 89, 60, 0.3);
}

.link--alt {
  color: #ffffff;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.link--alt:hover {
  color: #333333;
  border-bottom: none;
}

.link--alt:active {
  color: #ffbc9e;
  border-bottom-color: rgba(249, 172, 159, 0.3);
}

.link--middle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.23;
  border-bottom: 2px solid #333333;
}

/*Конец общих стилей*/




/*Шапка*/

.page-header {
  margin-bottom: 0;
  width: 900px;
  height: 75px;
  position: relative;
  }

.page-header__logo-wrap {
  float: left;
  margin-left: -5px;
  margin-right: 20px;
  padding-top: 10px;
  width: 165px;
  min-height: 65px;
}

/*Навигация*/

.page-nav {
  width: 365px;
  float: left;
  padding-top: 23px;
  margin-bottom: 20px;
}

.page-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.page-nav__item--catalog{
  position: relative;
}

.page-nav__item--catalog:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.page-nav__item {
  display: inline-block;
  vertical-align: top;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 0 5px 0 0;
  transition: background-color 0.3s ease-out, box-shadow 0.1s ease-in;
  border-radius: 30px;
}

.page-nav__item:hover{
  background: #f7f6f3;
}

.page-nav__item:active {
  background:#ededed;
  box-shadow: inset 0 2px 2px 0 #686868;
}

.page-nav__item:hover .link--alt{
  color: #333333;
  border-bottom: none:
}

/*Всплывающее подменю*/

.page-nav__submenu-list{
position: absolute;
left: -7px;
top: 110%;
box-sizing: border-box;
min-width: 144px;
padding: 0;
margin: 0;
list-style: none;
background-color: #f8f7f4;
border-radius: 5px;
z-index: -1;
opacity: 0;
-webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
        transform: translate(0, -10px);
transition: all 0.3s ease-out;
}

.page-nav__item--catalog:hover .page-nav__submenu-list  {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.page-nav__submenu-title{
  position: relative;
  padding: 9px 20px 11px 20px;
  }

  .page-nav__submenu-title a{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #343434;
  }

.page-nav__submenu-title::after{
  content: "";
  position: absolute;
  left: 6px;
  right: 9px;
  bottom: 0;
  height: 2px;
  background-color: #d1d0ce;
}

.page-nav__submenu-item{
  padding: 7px 0 7px 20px;
  transition: all 0.3s ease;
  }

.page-nav__submenu-item a{
  font-size: 14px;
  text-decoration: none;
  color: #343434;
}

.page-nav__submenu-item:last-child{
  border-radius: 0 0 5px 5px;
}

.page-nav__submenu-item:hover{
  background: #fbded7;
}

.page-nav__submenu-item:active{
  background: #f6b5a5;
}

/*Всплывающее подменю конец*/

/*Блок пользователя*/

.user-block{
  float: right;
  width: 285px;
  padding-top: 23px;
}

.user-block__item{
  display: inline-block;
}

.actions-btn {
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border: none;
  text-align: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  border-radius: 30px;
  cursor: default;
  transition: all 0.2s ease-out;
  margin: 0;
  }

.actions-btn:hover {
  color: #333333;
  background-color: #f8f7f4;
}

/*Поиск*/
.serch-form__btn{
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.search {
  position: relative;
  margin-right: 10px;
}

.search:after {
  content: "";
  position: absolute;
  top:90%;
  left: 0;
  right: 0;
  height: 10px;
}

.search__form {
  height: 30px;
  margin: 0;
  padding: 0;
}

.search-form__wrap{
  position: absolute;
  top: 105%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 310px;
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search:hover .search-form__wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.form__input--search{
  padding: 12px;
  width: 286px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.form__input--search:hover{
  border: 2px solid #c7c6c5;
  padding: 11px 12px;
}

/*Логин*/

.user-block__item--login {
  margin-right: 10px;
}

.login-form__btn{
  position: relative;
  width: 45px;
  margin: 0;
  padding: 10px 15px 10px 45px;
}

.login-form__btn:after {
  content: "";
  position: absolute;
  top:17%;
  left: 0;
  right: 0;
  height: 10px;
}

.user-block__login-wrap{
  position: relative;
}

.login-form{
  margin: 0;
  padding: 0;
  height: 175px;
}

.login-form__wrap{
  position: absolute;
  top: 5%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 273px;
  padding: 20px 17px 17px 17px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.user-block__item--login:hover .login-form__wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.form__input--mail,
.form__input--password{
  padding: 12px 15px;
  width: 240px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.form__input--mail{
  margin-bottom: 10px;
}

.form__input--password{
  margin-bottom: 15px;
}

.form__input--mail:hover,
.form__input--password:hover {
  border: 2px solid #c7c6c5;
  padding: 11px 15px;
}

.login-form__come-in{
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}

.login-form__help{
  display: inline-block;
  vertical-align: top;
  width: 125px;
  margin-top: -5px;
}

.link-help{
  font-size: 13px;
}

/*Корзина*/

/*.user-block__item--basket{
    min-width: 120px;
}*/

.basket-form__btn{
  position: relative;
  width: 40px;
  margin: 0;
  padding: 10px 32px 10px 45px;
}

.basket-form__btn:after {
  content: "";
  position: absolute;
  top:17%;
  left: 0;
  right: 0;
  height: 10px;
}

.user-block__basket-wrap{
  position: relative;
}

.basket-form{
  margin: 0;
  padding: 0;
  height: 240px;
}

.basket-form__wrap{
  position: absolute;
  top: 5%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 530px;
  padding: 15px 15px 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.user-block__item--basket:hover .basket-form__wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.basket-list{
  margin-bottom: 12px;
  height: 135px;
}

.basket-list__btn {
  text-align: right;
}

.basket-list__item{
  font-size: 13px;
  }

.basket-list__item td {
  vertical-align: top;
}

.basket-list__remove{
  width: 6%;
}

.basket-list__icon-remove{
  position: relative;
  display: block;
  width: 26px;
  height: 32px;
  background-color: transparent;
  outline:none;
  border:none;
  font-size: 0;
}

.basket-list__icon-remove::before,
.basket-list__icon-remove::after{
position: absolute;
top: 50%;
left: 50%;
content: "";
width: 1px;
height: 15px;
background: #353535;
}

.basket-list__icon-remove::before{
  transform: rotate(45deg);
}

.basket-list__icon-remove::after{
  transform: rotate(-45deg);
}

.basket-list__img{
  width: 5%;
  padding: 8px 0 0 0;
}

.basket-list__name{
  width: 50%;
  padding: 15px 28px 15px 20px;
}

.basket-list__formula{
  width: 25%;
  padding: 15px 10px;
}

.basket-list__formula span{
  color: #7f7f7f;
}

.basket-list__price{
  width: 20%;
  padding: 15px 10px;
}

.basket-list__total {
  position: relative;
  padding: 15px 10px 0 10px;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}

.basket-list__total::before{
  position: absolute;
  content: "";
  height: 1px;
  background-color: #d1d0ce;
  left: 6px;
  right: 9px;
  top: 0;
}

/*Контактная информация*/

.contact-header {
  position: absolute;
  top: 100%;
  right: 1%;
  width: 220px;
  color: #ffffff;
  text-align: right;
}

.contact-header span {
  margin: 0;
  padding: 0;
}

.contact-header__clock {
  font-size: 14px;
  font-weight: 700;
}

.contact-header__phone {
  font-size: 22px;
  font-weight: 900;
}





/*Подвал*/

.main-footer {
  color: #000000;
  background: #ffffff url("../img/footer-texture.jpg");
  padding-top: 60px;
  padding-bottom: 40px;
}

.social-btn {
  display: inline-block;
  font-size: 0;
  text-decoration: 0;
  vertical-align: top;
  /*width: 43px;
  height: 43px;
  margin: 0 2px;
  background: #000000 url("../img/spritesheet.png") no-repeat center;
  }*/
  /*.social-btn:hover {
  background: #ffffff url("../img/spritesheet.png") no-repeat center;
}
.social-btn-vk {
  background-position: -32px -55px;
}

.social-btn-fb {
  background-position: -40px -22px;
}

.social-btn-inst {
  background-position: -73px -27px;
}

.social-btn-vk:hover {
  background-position: 5px -55px;
}
.social-btn-fb:hover {
  background-position: -70px 7px;
}

.social-btn-inst:hover {
  background-position: -20px -22px;
}*/
  /*.footer-copyright {

}*/
  /* Всплывающая форма регистрации пользователя*/
  .modal-content {
    display: none;
    position: fixed;
    z-index: 30;
    top: 120px;
    left: 50%;
    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
    color: #000000;
    /*background: #ffffff url("../img/pattern-white.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);*/
  }
  /*Форма трясется при ошибке отправки, если поле формы не заполнено*/
  /*.modal-error{
  animation: shake 0.6s;
}

@keyframes shake {
  0%, 100% {transform: translateY(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateY(-10px);}
  20%, 40%, 60%, 80% {transform: translateY(10px);}
}*/
  .modal-content h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
  }
  .modal-content p {
    margin: 0;
    margin-bottom: 10px;
  }
  .modal-content .login-form {
    margin-bottom: 10px;
  }
  .login-form input[type="text"], .login-form input[type="password"] {
    font-size: 14px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    margin: 0;
    outline: none;
    color: #000000;
    width: 236px;
    border: 2px solid #000000;
    /*margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 40px;
  background-color: #f8f6f3;*/
  }
  /*.login-form input:focus {
  border-color: #663d15;
}*/
  /*.login-form input.icon-user {
  background-image: url("../img/User copy 2.png");
  background-repeat: no-repeat;
  background-position: 270px 15px;
}

.login-form input.icon-password {
  background-image: url("../img/Locked.png");
  background-repeat: no-repeat;
  background-position: 270px 15px;
}*/
  .login-form .restore {
    float: right;
    color: #000000;
  }
  .login-form .btn {
    width: 100%;
    margin-top: 15px;
  }
  .login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  .login-checkbox input[type="checkbox"] {
    display: none;
  }
  .login-checkbox input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
  }
  .login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before, .login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000000;
  }
  .login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
    transform: rotate(45deg);
  }
  .login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
    transform: rotate(-45deg);
  }
  .modal-content-close {
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -34px;
    background: none;
  }
  .modal-content-close::after, .modal-content-close::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1;
    top: 10px;
    left: 2px;
  }
  .modal-content-close::after {
    transform: rotate(-45deg);
  }
  .modal-content-close::before {
    transform: rotate(45deg);
  }
  /*Всплывающая карта*/
  .modal-content-map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;
    background: #e9e5dc url("../img/map.png");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 30;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  /*Класс для js, включает отображение формы+анимация выпадения из верхнего края страницы*/
  .modal-content-show {
    display: block;
    animation: bounce 0.6s;
  }
  @keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
    70% {
      transform: translateY(30px);
    }
    90% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
