/*Общие стили*/

body {
  min-width: 900px;
  font: 400 16px/1.375 "Roboto", "Arial", sans-serif;
  color: #333333;
  background-color: #849d8f;
}


.bg__line {
  height: 1px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: #cacac7;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.centerize {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  margin: auto;
  max-width: 100%;
}

textarea {
  resize: vertical;
}


/*Кнопки*/

.btn {
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  padding: 10px 25px;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 1px 4px #8e392c;
  font-weight: 500;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn--middle {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
  position: absolute;
  right: 5%;
  bottom: 12%;
}

.btn--large {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

.btn--xxl {
  display: block;
  max-width: 200px;
  padding: 16px 43px;
  font-size: 31.5px;
  border-radius: 40px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  margin: 0 auto;
}

.btn--wide {
  padding: 10px 23px;
}

.btn--narrow {
  padding: 13px 35px;
  font-size: 17px;
}

.btn--new {
  position: absolute;
  padding: 15px 20px;
  bottom: 18%;
  right: 6%;
}

.btn--feedback{
  float: right;
  font-size: 17px;
}

.btn:hover {
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0 2px 2px 0 #ac1000;
}


/*Ссылки*/

.btn:active {
  background-image: linear-gradient(to top, #e1613e, #d74632);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.link {
  color: #353535;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  transition: all 0.15s ease-out;
}

.link:hover {
  color: #ec593c;
  border-bottom-color: rgba(236, 89, 60, 0.3);
}

.link:active {
  color: #ec593c;
  border-bottom-color: rgba(236, 89, 60, 0.3);
}

.link--alt {
  color: #ffffff;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.link--info {
  font-size: 13px;
}

.link--alt:hover {
  color: #;
  border-bottom: none;
}

.link--alt:active {
  color: #ffbc9e;
  border-bottom-color: rgba(249, 172, 159, 0.3);
}

.link--middle {
  color: #353535;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.23;
  border-bottom: 2px solid #333333;
}

.link--breadcrumbs{
  font-size: 14px;
  color: #ffffff;
}




/*Конец общих стилей*/


/*Шапка*/

.page-header {
  margin-bottom: 0;
  width: 860px;
  height: 75px;
  position: relative;
}

.page-header__logo-wrap {
  float: left;
  margin-left: -5px;
  margin-right: 13px;
  padding-top: 10px;
  width: 165px;
  min-height: 65px;
}


/*Навигация*/

.page-nav {
  width: 365px;
  float: left;
  padding-top: 23px;
  margin-bottom: 20px;
}

.page-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.page-nav__item--catalog {
  position: relative;
}

.page-nav__item--catalog:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.page-nav__item {
  display: inline-block;
  vertical-align: top;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 0 5px 0 0;
  transition: background-color 0.3s ease-out, box-shadow 0.1s ease-in;
  border-radius: 30px;
}

.page-nav__item:hover {
  background: #f7f6f3;
}

.page-nav__item:active {
  background: #ededed;
  box-shadow: inset 0 2px 2px 0 #686868;
}

.page-nav__item:hover .link--alt {
  color: #333333;
  border-bottom: none:
}


/*Всплывающее подменю*/

.page-nav__submenu-list {
  position: absolute;
  left: -7px;
  top: 110%;
  box-sizing: border-box;
  min-width: 144px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
  transition: all 0.3s ease-out;
}

.page-nav__item--catalog:hover .page-nav__submenu-list {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.page-nav__submenu-title {
  position: relative;
  padding: 9px 20px 11px 20px;
}

.page-nav__submenu-title a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #343434;
}

.page-nav__submenu-title::after {
  content: "";
  position: absolute;
  left: 6px;
  right: 9px;
  bottom: 0;
  height: 2px;
  background-color: #d1d0ce;
}

.page-nav__submenu-item {
  padding: 7px 0 7px 20px;
  transition: all 0.3s ease;
}

.page-nav__submenu-item a {
  font-size: 14px;
  text-decoration: none;
  color: #343434;
}

.page-nav__submenu-item:last-child {
  border-radius: 0 0 5px 5px;
}

.page-nav__submenu-item:hover {
  background: #fbded7;
}

.page-nav__submenu-item:active {
  background: #f6b5a5;
}


/*Всплывающее подменю конец*/


/*Блок пользователя*/

.user-block {
  float: right;
  width: 265px;
  padding-top: 23px;
}

.user-block__item {
  display: inline-block;
}

.actions-btn {
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border: none;
  text-align: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  border-radius: 30px;
  cursor: default;
  margin: 0;
}

.actions-btn:hover {
  color: #333333;
  background-color: #f8f7f4;
}


/*Поиск*/

.serch-form__btn {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url("../img/sprite/sprite.png");
  background-position: -7px 733px;
}

.serch-form__btn:hover{
  background: #ffffff url("../img/sprite/sprite.png");
  background-position: -7px 686px;
}

.search {
  position: relative;
  margin-right: 8px;
}

.search:after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  height: 10px;
}

.search__form {
  height: 30px;
  margin: 0;
  padding: 0;
}

.search-form__wrap {
  position: absolute;
  top: 105%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 310px;
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search:hover .search-form__wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.form__input--search {
  padding: 12px;
  width: 286px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.form__input--search:hover {
  border: 2px solid #c7c6c5;
  padding: 11px 12px;
}



/*Логин*/

.user-block__item--login {
  position: relative;
  margin-right: 8px;
}

.login-form__btn {
  position: relative;
  margin: 0;
  width: 37px;
  padding: 10px 15px 10px 45px;
  background: rgba(255, 255, 255, 0.2) url("../img/sprite/sprite.png");
  background-position: 0 832px;
}

.login-form__btn:hover{
  background: #ffffff url("../img/sprite/sprite.png");
  background-position: 0 783px;
}

.user-block__item--login:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
}

.user-block__login-wrap {
  position: absolute;
  top: 113%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 273px;
  padding: 20px 17px 17px 17px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.login-form {
  margin: 0;
  padding: 0;
  height: 175px;
}

.user-block__item--login:hover .user-block__login-wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
  }

.form__input--mail, .form__input--password {
  padding: 12px 15px;
  width: 240px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.form__input--mail {
  margin-bottom: 10px;
}

.form__input--password {
  margin-bottom: 15px;
}

.form__input--mail:hover, .form__input--password:hover {
  border: 2px solid #c7c6c5;
  padding: 11px 15px;
}

.login-form__come-in {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}

.login-form__help {
  display: inline-block;
  vertical-align: top;
  width: 125px;
  margin-top: -5px;
}

.link-help {
  font-size: 13px;
}


/*Корзина*/


.user-block__item--basket{
    position: relative;
}

.basket-form__btn {
  position: relative;
  width: 35px;
  margin: 0;
  padding: 10px 32px 10px 45px;
  background: rgba(255, 255, 255, 0.2) url("../img/sprite/icon__navigation__basket.png") no-repeat 13px 7px;

}

.basket-form__btn:hover{
  background: #ffffff url("../img/sprite/icon__navigation__basket--hover.png") no-repeat 13px 7px;
}

.user-block__item--basket:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.user-block__basket-wrap {
  position: absolute;
  top: 113%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 530px;
  padding: 15px 15px 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.basket-form {
  margin: 0;
  padding: 0;
}

.user-block__item--basket:hover .user-block__basket-wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.basket-list {
  margin-bottom: 12px;
  height: 135px;
}

.basket-list__btn {
  text-align: right;
}

.basket-list__item {
  font-size: 13px;
}

.basket-list__item td {
  vertical-align: top;
}

.basket-list__remove {
  width: 6%;
}

.basket-list__icon-remove {
  position: relative;
  display: block;
  width: 26px;
  height: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 0;
}

.basket-list__icon-remove::before, .basket-list__icon-remove::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 1px;
  height: 15px;
  background: #353535;
}

.basket-list__icon-remove::before {
  transform: rotate(45deg);
}

.basket-list__icon-remove::after {
  transform: rotate(-45deg);
}

.basket-list__img {
  width: 5%;
  padding: 8px 0 0 0;
}

.basket-list__name {
  width: 50%;
  padding: 15px 28px 15px 20px;
}

.basket-list__formula {
  width: 25%;
  padding: 15px 10px;
}

.basket-list__formula span {
  color: #7f7f7f;
}

.basket-list__price {
  width: 20%;
  padding: 15px 10px;
}

.basket-list__total {
  position: relative;
  padding: 15px 10px 0 10px;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}

.basket-list__total::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #d1d0ce;
  left: 6px;
  right: 9px;
  top: 0;
}

/*Контактная информация*/

.contact-header {
  position: absolute;
  top: 100%;
  right: 0;
  width: 220px;
  color: #ffffff;
  text-align: right;
}

.contact-header span {
  margin: 0;
  padding: 0;
}

.contact-header__clock {
  font-size: 14px;
  font-weight: 700;
}

.contact-header__phone {
  font-size: 22px;
  font-weight: 900;
}


/*MAIN Контейнер*/


/*Слайдер*/


.promo-product {
  position: relative;
  margin-top: 470px;
  }

.promo-product__button{
    margin-bottom: 40px;
    width: 100%;
  }

.slider__input {
  display: none;
}

.slider-controls {
  position: absolute;
  left: 0;
  top: 33%;
  width: 102px;
  line-height: 10px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: inherit;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.slider-controls label:hover{
  background: #b2c1b7;
}

#slide-1:checked~.slider-controls label[for="slide-1"], #slide-2:checked~.slider-controls label[for="slide-2"], #slide-3:checked~.slider-controls label[for="slide-3"] {
  background-color: #ffffff;
}

.bg  {
  background: #849d8f url("../img/bg_slider-1.jpg") no-repeat 50% 0;
}

#slide-2:checked~.bg{
  background: #8996a6 url("../img/bg_slider-2.jpg") no-repeat 50% 0;
}

#slide-3:checked~.bg{
    background: #9d8b84 url("../img/bg_slider-3.jpg") no-repeat 50% 0;
}

/*Баннер*/

.banner {
  margin: 0 0 40px 0;
}

.banner__item {
  position: relative;
  width: 380px;
  display: inline-block;
  padding: 23px 20px 95px 20px;
  border-radius: 15px;
  margin: 0;
}

.banner__item--raspberries {
  background: url("../img/banner--bg1.jpg") round;
  margin-right: 16px;
}

.banner__item--chocolate {
  background: url("../img/banner--bg2.jpg") round;
}

.banner__title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 35px;
  line-height: 1;
  font-weight: 700;
  text-align: left;
}

.banner__description {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  text-align: left;
  padding: 20px 0 0 0;
  margin: 0;
}

/*Каталог*/

.product {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  margin-bottom: 38px;
  transition: all 0.3s ease-out;
    margin-right: 16px;

}

.product__item{
  width: 200px;

}

.product:nth-child(4n){
  margin-right: 0;
}

.product__item--4 {
  margin-right: 0;
}

.product__image {
  position: relative;
  width: 200px;
  min-height: 200px;
  margin: 0;
}

.product__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: url("../img/sprite/icon__catalog__hit.png");
}

.product__image--1 {
  background: url("../img/catalog__index-1.svg") no-repeat;
}

.product__image--2 {
  background: url("../img/catalog__index-2.svg") no-repeat;
}

.product__image--3 {
  background: url("../img/catalog__index-3.svg") no-repeat;
}

.product__image--4 {
  background: url("../img/catalog__index-4.svg") no-repeat;
}

.product__image--5 {
  background: url("../img/catalog__index-5.svg") no-repeat;
}

.product__image--6 {
  background: url("../img/catalog__index-6.svg") no-repeat;
}

.product__image--7 {
  background: url("../img/catalog__index-7.svg") no-repeat;
}

.product__image--8 {
  background: url("../img/catalog__index-8.svg") no-repeat;
}

.product__image--9 {
  background: url("../img/catalog__index-9.svg") no-repeat;
}

.product__image--10 {
  background: url("../img/catalog__index-10.svg") no-repeat;
}

.product__image--11 {
  background: url("../img/catalog__index-11.svg") no-repeat;
}

.product__image--12 {
  background: url("../img/catalog__index-12.svg") no-repeat;
}

.product__price {
  display: block;
  padding: 145px 0 20px 0;
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.product__price-small {
  font-size: 30px;
}

.product__title {
position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.product__link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.product__actions {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: none;
  text-align: center;
}

.product:hover {
  z-index: 2;
  margin-bottom: -30px;
  padding-bottom: 68px;
  cursor: pointer;
}

.product:hover:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 104%;
  height: 102%;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product:hover .product__actions {
  display: block;
}


/*Блок SEO*/

.seo {
  width: 860px;
  margin-bottom: 40px;
  border-radius: 15px;
  background: url("../img/seo--bg.png") no-repeat;
  padding: 20px 20px 30px 20px;
}

.seo__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.seo__info {
  position: relative;
  width: 345px;
  display: inline-block;
  vertical-align: top;
  padding: 22px 0 0 55px;
  margin: 0;
}

.seo__info::after{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 48px;
  height: 48px;
}

.seo__info--ice-cream::after{
  background: url("../img/sprite/icon__seo__icecreem.png");
}

.seo__info--eco::after{
  background: url("../img/sprite/icon__seo__eco.png");
}

.seo__info--made::after{
  background: url("../img/sprite/icon__seo__made.png");
}

.seo__info--delivery::after{
  background: url("../img/sprite/icon__seo__delivery.png");
}



.seo__info--ice-cream, .seo__info--eco {
  margin-right: 20px;
}


/*Каталог новости*/

.news {
  margin-bottom: 40px;
}

.news__new {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  margin-right: 16px;
  padding: 28px 20px 85px 20px;
  background: url("../img/news__bg.jpg") round;
  border-radius: 15px;
}

.news__new p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 15px 0;
  padding: 0;
}

.news__wrap-link {
  width: 300px;
  background: url("../img/news__p--bg.png") no-repeat 10px 0;
}

.news__sending {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 370px;
  border-radius: 15px;
  padding: 40px 24px 40px 26px;
  background: url("../img/news__sending.png") round;
}

.news__sending p {
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0 0 15px 0;
  color: #5a5a5a;
}

.news__input {
  width: 207px;
  padding: 12px 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  color: #d3d3d2;
  font-size: 16px;
  line-height: 1;
}


/*Блок карта*/

.map {
  position: relative;
  min-height: 430px;
  width: 900px;
  margin: 0 auto;
  background: #ebe4c9 url(../img/bg_map.png) no-repeat center;
  background-size: cover;
}

.map__contact {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
  z-index: 2;
}

.map__contact-wrap {
  width: 260px;
  max-height: 400px;
  position: relative;
  padding: 30px 25px 30px 25px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
}

.map__contact-text {
  padding: 0;
  margin: 0 0 15px 0;
}

.map__contact-text--tel {
  margin: 0 0 21px 0;
}

.map__contact-text span {
  padding: 0;
  font-size: 18px;
  display: block;
  margin: 4px 0;
}


/*Подвал*/

.page-footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-footer__social {
  float: left;
  width: 212px;
  margin-right: 20px;
  padding: 3px 0 0 0;
  margin-left: 3px;
}

.social-links {
  display: block;
}

.social-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  text-decoration: none;
  width: 32px;
  height: 32px;
  margin-right: 18px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.1s ease-in;
}

.social-link:hover {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.98);
  }

  .social-link:active {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5), 0 2px 1px 0 #888888 inset;
    color: #e9e9e9;
  }

  .social-link--tv{
  background: url("../img/sprite/icon__social--itwitter.png") no-repeat center;
}

.social-link--vk{
  background: url("../img/sprite/icon__social--ivk.png") no-repeat center;
}

.social-link--fb{
  background: url("../img/sprite/icon__social--fb.png") no-repeat center;
}

.social-link--in{
  background: url("../img/sprite/icon__social--inst.png") no-repeat center;
}

.page-footer__info {
  float: left;
  vertical-align: top;
}

.page-footer__info{
  position: relative;
}

.page-footer__info::after{
  position: absolute;
  top: 5px;
  left: 30px;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/sprite/icon__social--like.png") no-repeat;
}

.page-footer__info-list {
  display: block;
  width: 365px;
  padding: 0 0 0 55px;
  margin: 0;
}

.page-footer__info-item{
  width: 145px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.page-footer__info-item--left {
  width: 210px;
}

.page-footer__copyright {
  float: right;
  vertical-align: top;
  width: 190px;
  padding: 0 0 0 10px;
}

.page-footer__img-logo {}

.page-footer__copyright p {
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.page-footer__copyright a {
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

/*Хлебные крошки*/

.breadcrumbs{
  width: 420px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.breadcrumbs__list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs__item{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.catalog-title{
  font-size: 35px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 35px 0;
  padding: 0;
}

/*Каталог фильтров*/

.filters {
  box-sizing: border-box;
  width: 870px;
  margin: 0;
  padding: 0 0 25px 0;
  font-weight: 500;
  color: #ffffff;
}

.filters-form{
  margin-bottom: 38px;
  width: 860px;
}

.filters__title{
  font-size: 14px;
  color: #ffffff;
  padding: 0;
  margin: 0 15px 5px 15px;
}

.filters__item{
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border:none;
  margin: 0 0 12px 0;
}

.filter-sort{
  width: 192px;
  margin-right: 15px;
}

.filter-sort__field {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.filter-sort__field:hover, .filter-sort__field:focus {
  background-color: #ffffff;
  color: #333333;
}

.filter-sort__field .select-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7%;
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

.filter-sort__field .select {
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 0 25px 0 10px;
  background-color: transparent;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-sort__field .select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.filter-sort__field .select:hover, .filter-sort__field .select:focus, .filter-sort__field .select:active {
  background-color: #ffffff;
  color: #333333;
}

.filter-sort__field .select::-ms-expand {
  display: none;
}

.select:focus ~ .select-icon:after {
  border-top-color: #333333;
}

@-moz-document url-prefix() {
  .filter-sort .select {
    text-indent: 0.01px;
    text-overflow: "";
    padding-right: 1rem;
  }
  .filter-sort option {
    background-color: white;
  }
}

.select-icon{
  color: #ffffff;
}

.filter-price{
  width: 220px;
  margin-right: 15px;
}

.filter-price__controls{
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  font-weight: 500;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.filter-price__scale{
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.filter-price__bar{
  position: relative;
  width: 51%;
  height: inherit;
  background: #f8f7f4;
  margin-left: 20%;
}

.filter-price__toggle{
  position: absolute;
  top: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.filter-price__toggle:hover{
  width: 22px;
  height: 22px;
}

.filter-price__toggle--min{
   left: -15px;
}

.filter-price__toggle--max {
  right: -15px;
}


.filter-radio{
  width: 420px;
}

.filter-radio__input {
  display: none;
}

.filter-radio__field{
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.filter-radio__label {
  position: relative;
  margin-right: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.filter-radio__label:last-of-type {
  margin-right: 0;
}

.filter-radio__indicator{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
  }

  .filter-radio__indicator:hover {
    border-width: 2px;
  }

  .filter-radio__input:checked + .filter-radio__label .filter-radio__indicator:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #f8f7f4;
    border-radius: 50px;
  }

  .filter-radio__input:disabled + .filter-radio__label .filter-radio__indicator {
    border: 1px solid rgba(248, 247, 244, 0.4);
  }

  .filter-radio__input:disabled + .filter-radio__label .filter-radio__indicator:before {
    background-color: rgba(248, 247, 244, 0.4);
  }

.filter-check{
  width: 705px;
}

.filter-check__input {
  display: none;
}

.filter-check__field {
  width: 100%;
  height: 36px;
  padding: 10px 20px 10px 17px;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 500;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-check__label {
  position: relative;
  margin-right: 16px;
  padding-left: 32px;
  cursor: pointer;
}

.filter-check__label:last-of-type {
  margin-right: 0;
}

.filter-check__indicator{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #f8f7f4;
  border-radius: 4px;
  }

  .filter-check__indicator:hover {
    border-width: 2px;
  }

  .filter-check__input:checked + .filter-check__label .filter-check__indicator:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -75%) rotate(-45deg);
        -ms-transform: translate(-50%, -75%) rotate(-45deg);
            transform: translate(-50%, -75%) rotate(-45deg);
    width: 8px;
    height: 4px;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  .filter-check__input:disabled + .filter-check__label .filter-check__indicator {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .filter-check__input:disabled + .filter-check__label .filter-check__indicator:before {
    border-bottom-color: rgba(255, 255, 255, 0.4);
    border-left-color: rgba(255, 255, 255, 0.4);
  }

  .plain-btn {
    border: none;
    text-align: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 26px;
    box-shadow: 0 0 0 2px #ffffff;
    border-radius: 30px;
    transition: background-color 0.3s ease-out;
  }

  .plain-btn:hover {
    background-color: #ffffff;
    color: #333333;
  }

  .plain-btn:active {
    margin: -2px 0 0 -2px;
    padding: 10px 28px;
    background-color: #f8f7f4;
    color: #333333;
    box-shadow: inset 0 2px 1px 0 #696969;
  }

  .filters__button{
    display: inline-block;
    margin: 24px 0 15px 20px;
  }

  .plain-btn {
    border: none;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 26px;
    box-shadow: 0 0 0 2px #ffffff;
    border-radius: 30px;
    transition: background-color 0.3s ease-out;
  }

  .plain-btn:hover {
    background-color: #ffffff;
    color: #333333;
  }

  .plain-btn:active {
    margin: -2px 0 0 -2px;
    padding: 10px 28px;
    background-color: #f8f7f4;
    color: #333333;
    box-shadow: inset 0 2px 1px 0 #696969;
  }

/*Пагинатор, каталог*/

.paginator {
  text-align: right;
  font-size: 0;
  padding-bottom: 30px;
  margin-top: 60px;
}

.paginator__item{
display: inline-block;
vertical-align: middle;
margin-right: 3px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 0.15s ease-out;
}

.paginator__item--current{
  background: #ffffff;
  color: #353535;
}

.paginator__item:hover{
background: #9db1a5;
}

.paginator__item:active{
  background: #ffffff;
  color: #353535;
}

.paginator__dir{
  box-sizing: border-box;
  position: relative;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 21px;
  }

  .paginator__dir::before{
    position: absolute;
    width: 7px;
    height: 7px;
    top: 7px;
    left: 7px;
    content: "";
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .paginator__dir--next {
    margin-right: 0px;
  }

  .paginator__dir--next::before{
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }

  .paginator__dir--disabled:before {
    border-color: rgba(255, 255, 255, 0.2);
    border-top-color: transparent;
    border-right-color: transparent;
  }

/* Всплывающая форма регистрации пользователя*/


.modal-content-feedback {
  display: none;
  position: fixed;
  z-index: 10;
  top: 33%;
  left: 38%;
  width: 430px;
  background: #f8f7f4;
  color: #343434;
  padding: 20px 25px 27px 25px;
  border-radius: 15px;
}

.feedback__title{
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 1;
  color: #343434;
}

.feedback__input{
  display: block;
  margin-top: 20px;
  padding: 10px 15px;
  width: 235px;
  font-size: 16px;
  line-height: 24px;
  color: 656565;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.feedback__input--letter{
  width: 395px;
  min-height: 105px;
  margin-bottom: 25px;
  resize: none;
}

.feedback__input:hover{
  border: 1px solid #c7c6c5;
  box-shadow: 1px 1px 0 #c7c6c5 inset, -1px -1px 0 #c7c6c5 inset;
  }

.feedback__input:focus{
  border: 1px solid #8fbdec;
}

/*Форма трясется при ошибке отправки, если поле формы не заполнено*/






.modal-content-close {
  width: 25px;
  height: 25px;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 6%;
  right:4%;
  background: none;
}

.modal-content-close::after, .modal-content-close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 3px;
  background-color: #121212;
  border-radius: 1;

}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay--show {
  display: block;
}


/*Класс для js, включает отображение формы+анимация выпадения из верхнего края страницы*/

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error{
  animation: shake 0.6s;
}

@keyframes shake {
  0%, 100% {transform: translateY(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateY(-10px);}
  20%, 40%, 60%, 80% {transform: translateY(10px);}
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
